@page "/about"

<h1 style="text-align: center; margin-bottom: 30px">About me</h1>

<div class="row" style="margin-left: 20%; margin-right:20%">
    <div class="col-md-6">
        <div class="row">
            <RadzenImage Path="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/1024px-Anonymous_emblem.svg.png" Style="width: 80%" />
        </div>
        <div class="row" style="margin-top: 20px">
            <p>Stuff below picture...</p>
        </div>
    </div>
    <div class="col-md-6">
        <p>I'm some random dude that likes Blazor and Ethereum and so on...</p>
    </div>
</div>


@code {

}
