@page "/"

<h1 style="text-align: center; margin-bottom: 30px">Posts</h1>

<div class="row" style="display: flex;align-items: center; justify-content: center">
    <RadzenCard Style="width:600px; margin-bottom: 20px; height:auto;">
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="display: flex;align-items: center; justify-content: center"><RadzenImage Path="https://razor.radzen.com/images/hero.png" Style="width:80%;" /></div>
                <div class="row" style="margin-top:20px;"><h2>The Beginning</h2></div>
                <div class="row" style="margin-top:20px;">
                    <p>@blogText</p>
                </div>
            </div>
        </div>
    </RadzenCard>
</div>
<div class="row" style="display: flex;align-items: center; justify-content: center">
    <RadzenCard Style="width:600px; margin-bottom: 20px; height:auto;">
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="display: flex;align-items: center; justify-content: center"><RadzenImage Path="https://razor.radzen.com/images/hero.png" Style="width:80%;" /></div>
                <div class="row" style="margin-top:20px;"><h2>Another random post</h2></div>
                <div class="row" style="margin-top:20px;">
                    <p>@blogText2</p>
                </div>
            </div>
        </div>
    </RadzenCard>
</div>

@code {
    private string blogText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.";
    private string blogText2 = "Hehehe this is a nice text here yooo!!!! 1 1";
}
